*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Cambria', cursive;
    background-color: #cce6ff;
}

.container{
	width: 500px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	margin-top: 105px;
	border-radius: 5cm;
	margin-top: 0 auto;
}

.container img{
	width: 220px; 
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
	border-radius: 10px;
}

input[type=submit]{
    
    		width: 20%;
			background-color: #66b3ff;
			color: black;
			padding:5px 5px 5px 5px;
			
			border-radius:4px;
			cursor: pointer;

    
}

input[type=submit]:hover{
    background-color: white;
}

input[type="text"]{
	height: 35px;
	width: 200px;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}